<odoo>

    <!-- ROOT MENU -->
    <menuitem id="menu_library_root"
              name="Library"
              sequence="10"/>

    <!-- BOOK MENU -->
    <menuitem id="menu_library_book"
              name="Books"
              parent="menu_library_root"
              sequence="1"
              action="action_library_book"/>

    <!-- MEMBER MENU -->
    <menuitem id="menu_library_member"
              name="Members"
              parent="menu_library_root"
              sequence="2"
              action="action_library_member"/>

    <!-- BORROWING MENU -->
    <menuitem id="menu_library_borrowing"
              name="Borrowings"
              parent="menu_library_root"
              sequence="3"
              action="action_library_borrowing"/>

    <menuitem id="menu_library_return_log"
          name="Return History"
          parent="menu_library_root"
          action="action_library_return_log"
          sequence="50"/>
    <record id="action_library_return_log" model="ir.actions.act_window">
        <field name="name">Return History</field>
        <field name="res_model">library.return.log</field>
        <field name="view_mode">list,form</field>
    </record>

</odoo>